:root {
  color-scheme: light dark;

  --color-page-bg: white;
  --color-text: #333;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-page-bg: #333;
    --color-text: white;
  }
}

html {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
  font-size: 14px;

  @media (min-width: 375px) {
    font-size: 16px;
  }

  @media (min-width: 640px) {
    font-size: 18px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--color-page-bg);
  color: var(--color-text);
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header,
.app-footer,
.app-output,
.app-input,
.app-help {
  margin: 0;
  padding: 0.5rem;

  @media (min-width: 480px) {
    padding: 0.66rem 1rem;
  }
}

.app-header,
.app-footer {
  align-items: center;
  background: darkgreen;
  color: white;
  display: flex;
  flex: none;
  gap: 1rem;
  padding: 0.5rem;

  @media (min-width: 480px) {
    gap: 2rem;
    padding: 0.66rem 1rem;
  }

  > * {
    margin: 0;
  }
}

.app-footer {
  font-size: smaller;
}

.app-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.app-help,
.app-output {
  flex: 1;
}

.app-output {
  list-style: none;
  margin: 0;
  padding-bottom: 0;

  li + li {
    margin-top: 0.5rem;

    @media (min-width: 480px) {
      margin-top: 0.66rem;
    }
  }
}

.prose {
  margin-inline: auto;
  max-width: 100ch;
  width: 100%;
}

.app-input {
  background: var(--color-page-bg);
  bottom: 0;
  flex: none;
  position: sticky;
}

.app-input__form {
  align-items: center;
  display: flex;
}

.app-input__prompt {
  flex: none;
  margin-right: 0.25em;
}

.app-input__input {
  flex: 1;
}

.app-header__location,
.app-debug__indirect {
  margin-right: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
}

input:focus {
  outline: none;
}

button {
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    outline-color: currentColor;
  }
}

.app-help ul {
  list-style: none;

  li::before {
    content: '>';
    margin-right: 0.5em;
  }
}
