:root {
  color-scheme: light dark;
}

html {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    'Liberation Mono', monospace;
  font-size: 18px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

input,
button,
textarea,
select {
  font: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header,
.app-footer {
  background: rgba(0 255 0 / 2%);
  flex: none;
  padding: 0.5rem;

  > * {
    margin: 0;
  }
}

.app-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

.app-output {
  flex: 1;
}

.app-input {
  flex: none;
}
